.card-container{
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 8px;
}

.card h2 {
    font-size: 1.1em;
    color: #333;
}
